{% extends 'site/base.html' %} {% block title %}My Books{% endblock %} {% block
content %}
<div class="container">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cover</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <th scope="row">{{ books.index(book) + 1 }}</th>
          <td>
            <img src="{{ book['img'] }}"" alt=" ..." width="25" height="35">
          </td>
          <td>
            <a href="/details/{{ book['bookid'] }}">{{ book['title'] }} </a>
          </td>
          <td>{{ book['title'] }}</td>
          <td>{{ book['timestamp'] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
